<div class="content row">
    <div class="col-md-12">
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">Creación de Oficina</h3>
            </div><!-- /.box-header -->
            <!-- form start -->
            <form class="form-horizontal" name="form" validate>
                <div class="box-body">
                    <div class="form-group">
                        <label for="name" class="col-sm-2 control-label">Oficina </label>
                        <div class="col-sm-10">
                            <input type="text"
                                   class="form-control"
                                   id="name"
                                   placeholder="Nombre de oficina"
                                   ng-model="office.name"
                                   required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="name" class="col-sm-2 control-label">Dirección </label>
                        <div class="col-sm-10">
                            <input type="text"
                                   class="form-control"
                                   id="name"
                                   placeholder="Dirección"
                                   ng-model="office.address">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="name" class="col-sm-2 control-label">Teléfono </label>
                        <div class="col-sm-10">
                            <input type="text"
                                   class="form-control"
                                   id="name"
                                   placeholder="Teléfono"
                                   ng-model="office.telephone">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="name" class="col-sm-2 control-label">Cuenta de Correo </label>
                        <div class="col-sm-10">
                            <input type="text"
                                   class="form-control"
                                   id="name"
                                   placeholder="Cuenta de correo"
                                   ng-model="office.email">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Cliente</label>
                        <div class="col-sm-10">
                            <ui-select ng-model="office.client_id"
                                       ng-class="{'ui-select-element': true}"
                                       required>
                                <ui-select-match placeholder="Seleccione un cliente.">
                                    <span ng-bind="$select.selected.description"></span>
                                </ui-select-match>
                                <ui-select-choices repeat="item.id as item in clientsList | filter:$select.search track by item.id">
                                    <span ng-bind-html="item.description | highlight: $select.search"></span>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                </div><!-- /.box-body -->
                <div class="box-footer">
                    <button type="submit"
                            class="btn btn-default"
                            formnovalidate="formnovalidate"
                            ng-click="backToList()">Cancel</button>
                    <button type="submit" class="btn btn-info pull-right" ng-click="save(form)">Guardar</button>
                </div><!-- /.box-footer -->
            </form>
        </div>
    </div>
</div>